.aside-panel{
    height: 80vh;   
    margin: 0;
    padding: 1.2rem 0 0 1.2rem;
    background-color: var(--color-background-aside);
    color: var(--color-white);
    border-radius: 0 .8rem .8rem 0;
}

.aside-panel-list{
    list-style: none;
}

.links{
    color: var(--color-white);
    text-decoration: none;
}
.links:hover{
    color: var(--color-white);
    text-decoration: none;
}
