#user-form-icon{
    height: 480px;
    width: 480px;
}

.title-form{
    font-weight: bold;
}

.form-user-container{
   
    height: 100vh;
    margin: auto;
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-user-container-row{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}