:root{
    font-size: 80%;
    --color-background: #ddd;
    --color-white: #ffffff;
    --color-background-aside: #635AFE;
    --color-outline-button: #ff2244;
    --color-btn-blue: #6031e2;
    --color-btn-green: #1fa80d;
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100vh;
  }
  
  body{
    background-color: var(--color-background);
   
  }
  
  body,
  input, 
  button{
    font: 500 1.2rem 'Quicksand', sans-serif;
    
  }

  div.form-container{
    background-color: var(--color-white);
    padding: 25px;
    border-radius: 20px;
    box-shadow: 1px 5px 5px 1px rgba(0, 0, 0, 0.2);
}
select.input{
    background-color: var(--color-white);
}

.buttons{
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}