.admin-dashboard-container .title{
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    border-bottom: 3px solid #aaa;
}

.admin-dashboard-container div.cards{

    display: flex;
    justify-content: space-around;
}

.admin-dashboard-container div.card{

    width: 280px;
    height: 132px;
    border-radius: .8rem;
    box-shadow: 1px 1px 1px #ccc;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
}

.admin-dashboard-container div.card .card-img{
    display: inline-block;
    width: 132px;
    height: 132px;
}

.admin-dashboard-container div.card .card-text{
    color: #aaa;
    font-size: 5.8rem;
}

@media(max-width:768px){
    div.cards{
        
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
    }

    div.card{
        margin-bottom: 1.2rem;
    }
}
