#logo-medclin{
    height: 102px;
    width: 102px;
    margin-left: 74px;
    margin-right: 74px;
}

#btn-logout{
    margin-right: 1.2rem;
}

#avatar{
    height: 54px;
    width: 54px;
}

.links{
    color: #393939;
    text-decoration: none;
}