
#row-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#refreshIcon, #filterIcon{
    height: 18px;
    width: 18px;
}

#avatarIcon{
    height: 54px;
    width: 54px;
}

#link-add{
    text-decoration: none;
}
