#cadastro h1{
    text-align: left;
    margin-bottom: 24px;
    font-weight: bold;
}

.container-title{
    margin-bottom: 1.2rem;
    border-bottom: 2px solid #393939;
}

#container-cadastro{
    border-radius: 8px;
    font: 500 1.2rem "Ubuntu";
}

#avatarIcon{
    height: 32px;
    width: 32px;
}