:root{
  font-size: 80%;
  --color-background: #ddd;
  --color-white: #ffffff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html, body, #root {
  height: 100vh;
}

body{
  background-color: var(--color-background);
}

body,
input, 
button{
  font: 500 1.2rem 'Quicksand';
}

#container{
  width: 90vw;
  max-width: 980px;
}